# This workflow will run tests using node and then publish a package to GitHub Packages when a release is created
# For more information see: https://docs.github.com/en/actions/publishing-packages/publishing-nodejs-packages

name: Publish Plugins to NPM

on:
  push:
    branches:
      - a11y
      - css-audit
      - html
      - jshint
  workflow_dispatch:

permissions:
  id-token: write  # Required for OIDC
  contents: write

jobs:
  publish-npm:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: plugins/${{ github.ref_name }}
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: 24
          registry-url: https://registry.npmjs.org/
      - run: git submodule update --init
      - run: npm publish
  create-branch:
    runs-on: ubuntu-latest
    needs: publish-npm
    defaults:
      run:
        working-directory: plugins/${{ github.ref_name }}
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: 24
          registry-url: https://registry.npmjs.org/
      - name: Get Version
        id: get_version
        run: echo "version=$(npm view . version)" >> "$GITHUB_OUTPUT"
      - name: Create Version Branch
        run: |
          git checkout -b "${{ github.ref_name }}-${{ steps.get_version.outputs.version }}" |
          git push origin "${{ github.ref_name }}-${{ steps.get_version.outputs.version }}"